.printable {
    margin: 10%;
    font-size: 18px;
}

.adminLink {
    font-size: 10px;
}

.header {
    margin-left: 0px;
    margin-right: 0px;
}

.header #searchForm {
    padding: 30px;
    margin-left: 0px;
    margin-right: auto;
    display: block;
}

.header #submitButton {
    height: 30px;
    width: 80px;
    font-size: 14px;
}

.errorMsg {
    background-color: #C00;
}

.warning {
    background-color: #FFF1A8;
}

.errorMsg, .warning {
    border-radius: 5px;
    font-weight: bold;
    margin: 10px auto;
    padding: 3px;
    max-width: 450px;
}

.missingCount {
    color: red;
}

.customConcentrations {
    display: none;
}

#searchResults {
    text-align: center;
    border: 0px;
}

#searchResults .resultTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    width: 100%;
}

#searchResults .compoundSearchResults:hover {
    box-shadow: 3px 3px 3px 3px #888888;
}

#searchResults .compoundSearchResults .column1 {
    width: 20%;
    font-weight: bold;
    text-align: left;
}

#searchResults .compoundSearchResults .column2 {
    width: 60%;
    text-align: left;
}

#searchResults .compoundSearchResults .column3 {
    width: 20%;
    text-align: center;
}

#searchResults .enzymeSearchResults .reactionLink {
    color: #006633;
}

#searchResults .enzymeSearchResults .viewAllLink {
    color: #0066CC;
}

#searchResults .image img {
    border: solid 0px black;
    max-height: 150px;
}

.parsedRxn, .compoundSelector, .compound, .enzyme {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    width: 100%;


.reactionController, .parsedRxn {
    text-align: center;
}

table.compoundInfo {
    width: 100%;
}

.mui-table .column1 {
    width: 20%;
    font-weight: bold;
}

.compoundInfo .column2 {
    width: 60%;
}

.compoundInfo .column3 {
    width: 20%;
}

table.additionalCompoundInfo {
    margin: 10px auto;
    width: 900px;
    border: solid 1px black;
    padding: 0px;
    border-spacing: 0px;
}

table.enzymeInfo {
    width: 100%;
}

.results td,
.compoundInfo td,
.speciesInfo td,
.enzymeInfo td,
.reactionInfo td,
.formationEnergyInfo td {
    padding: 5px;
}

table.reactionInfo,
table.speciesInfo,
table.formationEnergyInfo {
    text-align: center;
    padding: 0px;
}

.speciesSource.last td,
td.reference.border {
    border-bottom: #E0E0E0 2px solid;
}

.refsList {
    text-align: left;
}

.refsList a {
 	color: #0066CC;
}

#figureContainer {
    margin: 5px auto 35px auto;
    width: 600px;
    height: 300px;
}

#figureContainer #legendContainer {
    float:right; 
}

#figureContainer #dgFigure {
    clear: both; 
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 25px;
	background: #EBC8A5;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 20px;
	transition: 0.5s;
}

input:checked + label {
	background: #DAB5F7;
}

input:checked + label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 0px;
}

