{% load static %}
    {% with largesearch=1 title="HTTP Status 504" %}
        {% include "header.html" %}
    {% endwith %}

<div class="mainTitle">
    <img src={% static "images/equilibrator_server_error.svg" %} height="200"/><br/>
    oops
</div>
</br>
</br>
Sorry, it seems that our server cannot handle the current workload.</br>
If you know a bit of Python, you could try using our API
which recapitulates most of eQuilibrator's functions.
</br>
</br>

<a href="https://gitlab.com/elad.noor/equilibrator-api">
    <img src="{% static "images/api_avatar.svg" %}" width="80px" />
    </br>eQuilibrator-API
</a>
{% include "footer.html" %}
