{% load static %}
<div class="mui-panel">
<div class="title">General Properties</div>
<table class="mui-table">
	<tr>
		<td width="25%"><b>Formula</b></td>
		<td colspan="100%">{{ compound.html_formula|safe }}</td>
	</tr>
	<tr>
		<td width="25%"><b>Common names</b></td>
		<td colspan="100%">
			{% for name in compound.all_common_names %}
			{{ name }}{% if not forloop.last %}; {% endif %}
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Molar Mass</b></td>
		<td colspan="100%">{{ compound.mass|floatformat:2 }} [Da]</td>
	</tr>
	<tr>
        <td width="25%"><b>Structure</b></td>
        {% if compound.thumbnail and compound.thumbnail != "error" %}
        <td colspan="100%"><img src="{{ compound.small_image_url }}" /></td>
        {% else %}
        <td colspan="100%"><img src="{% static "images/structure_not_available.svg" %}" style="width:250px;height:200px"/></td>
        {% endif %}
	</tr>
	{% if compound.kegg_link %}
	<tr>	
		<td width="25%"><b>Links</b></td>
		<td colspan="100%"><a href="{{compound.kegg_link}}">KEGG &raquo;</a></td>
	</tr>
	{% endif %}
	{% if compound.note %}
		<td width="25%"><b>Note</b></td>
		<td colspan="100%">{{compound.note}}
		{% if compound.details_link %}
		<a href="{{compound.details_link}}">More info &raquo;</a>
		{% endif %}
		</td>
    {% endif %}
</table>
</div>

{% if compound.has_species_groups %}
    {% include "compound_species_table.html" %}
{% endif %}

