{% load static %}
<div class="mui-panel">
<div class="title">Formation Gibbs Energy</div>
<table class="mui-table">
    {% if not reaction.is_phys_conc %}
    <tr>
        <td width="25%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>f</i></sub>G'</a>
            </strong>
        </td>
        <td colspan="5">
            <strong>{{ reaction.dg_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
            {% endif %}
            [kJ/mol]
        </td>
    </tr>
    {% endif %}

    <tr>
        <td width="25%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dgm>&Delta;<sub><i>f</i></sub>G'<sup>m</sup></a>
            </strong>
        </td>
        <td colspan="5">
            <strong>{{ reaction.dgm_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
            {% endif %}
            [kJ/mol]
            &nbsp;&nbsp;&nbsp;<font size="2"><a href="#" title="Close concentration panel" onclick="toggle_visibility('showConc');toggle_visibility('hideConc');">Enter custom concentration &raquo;</a></font>
        </td>
    </tr>

    <tr>
        <td width="25%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dfg>&Delta;<sub><i>f</i></sub>G'&deg;</a>
            </strong>
        </td>
        <td colspan="5">
            <strong>{{ reaction.dg0_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
            {% endif %}
            [kJ/mol]
        </td>
    </tr>

    {% if compound.dg_source %}
        <tr>
            <td width="25%">
                <strong>
                    Estimated using
                </strong>
            </td>
            <td colspan="5">
                {% for source_name, url in reaction.source_references %}
                    <a href="{{ url }}" target="_blank">{{ source_name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% include "reaction_sliders.html" %}
</table>
</div>