{% load static %}
{% with hidesearchbar=0 title=compound.first_name %}
	{% include "header.html" %}
{% endwith %}

    {% for c_w_c in reaction.reactants %}
        <div class="compound">
            {{ c_w_c.name }}{{ c_w_c.subscript }}
        </div>
    {% endfor %}

    <form name="compoundForm" action="/metabolite" method="get">
        <input type="hidden" name="compoundId" value="{{ compound.kegg_id }}" />

        {% if reaction.dg_prime == None %}
            <div class="warning">{{ compound.no_dg_explanation }}</div>
        {% else %}
            {% if reaction.dg_uncertainty != None and reaction.dg_uncertainty > 200 %}
                <div class="warning">Cannot estimate &Delta;<sub><i>f</i></sub>G' with any level of certainty </br>
                <a href={% static "classic_rxns/faq.html" %}#uncertainty>Learn more &raquo;</a></div>
            {% else %}
                {% include "compound_result_table.html" %}
    
                {% include "concentration_sub_table.html" %}
                    <input type="submit" value="Update" name="submit" 
                           onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                           title="update estimations according to chosen pH, I" />
                    <input type="submit" value="Reset" name="submit" 
                           onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                           title="reset all parameters (e.g. pH, I) to default values" />
    
            {% endif %}
        {% endif %}

    </form>

    {% include "compound_info_table.html" %}

{% include "footer.html" %}
