{% load static %}
<div id="showConc" style={% if reaction.is_phys_conc %}"display:block"{% else %}"display:none"{% endif %}>
    <p>
    <a href="#" title="Open concentration panel" onclick="toggle_visibility('hideConc');toggle_visibility('showConc');">
    {% if not reaction.is_balanced or reaction.is_electron_balanced %}
    <img src={% static "images/conc_open.svg" %} height="32" width="32"/></a>
    {% else %}
    <img src={% static "images/red_open.svg" %} height="32" width="32"/></a>
    {% endif %}
    </p>
</div>
<div id="hideConc" style={% if reaction.is_phys_conc %}"display:none"{% else %}"display:block"{% endif %}>
    <p>
    <a href="#" title="Close concentration panel" onclick="toggle_visibility('showConc');toggle_visibility('hideConc');">
    {% if not reaction.is_balanced or reaction.is_electron_balanced %}
    <img src={% static "images/conc_open.svg" %} height="32" width="32"/></a>
    {% else %}
    <img src={% static "images/red_open.svg" %} height="32" width="32"/></a>
    {% endif %}
    </p>

    <div class="mui-panel">
    <div class="title">Reactant Concentrations</div>
    <table class="mui-table">
        {% for reactant in reaction.reactants %}
        <input type="hidden" name="reactantsCoeff" value="{{ reactant.coeff }}" />
        <input type="hidden" name="reactantsId" value="{{ reactant.kegg_id }}" />
        <input type="hidden" name="reactantsName" value="{{ reactant.name }}" />
        <tr>
            {% if reactant.compound.kegg_id == 'C00001' %}
                <td colspan="2">
                    Water(l)
                </td>
                <td>
                    55 M <a href={% static "classic_rxns/faq.html" %}#change-conc-water> Learn more &raquo;</a>
                    <input type="hidden" value="{{ reactant.phase_value_string }}" name="reactantsConcentration" />
                    <input type="hidden" value="{{ reactant.phase_prefactor }}" name="reactantsConcentrationPrefactor" />
                </td>
                <td width="50px">
                    liquid
                    <input type="hidden" value="{{ reactant.phase_name }}" name="reactantsPhase" />
                </td>
            {% else %}
                <td colspan="2">
                    {{ reactant.name }}{{ reactant.subscript }}
                </td>
                <td>
                    {% if reactant.is_constant %}
                        <input type="hidden" value="{{ reactant.phase_value_string }}" name="reactantsConcentration" />
                        {{ reactant.phase_value_string }}
                    {% else %}
                        <input type="text" size="10" value="{{ reactant.phase_value_string }}" name="reactantsConcentration" />
                    {% endif %}
                    <input type="hidden" value="{{ reactant.phase_prefactor }}" name="reactantsConcentrationPrefactor" />
                    {{ reactant.phase_units|safe }}
                 </td>
                 <td width="50px">
                    {% if reactant.has_multiple_phases %}
                        <select name="reactantsPhase">
                        {% for phase in reactant.possible_phases %}
                          <option value="{{ phase }}" {% if phase == reactant.phase_name %} selected {% endif %}>
                              {{ phase }}
                          </option>
                        {% endfor %}
                        </select>
                    {% else %}
                        {{ reactant.phase_name }}
                        <input type="hidden" value="{{ reactant.phase_name }}" name="reactantsPhase" />
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr><td colspan="8">
            *
            {% if reaction.aq_params.max_priority != 99 %}
                <a href="{{ alberty_link }}">Use Alberty's formation energies whenever possible</a>
            {% else %}
                <a href="{{ cc_link }}">Use component contribution for all reactions</a>
            {% endif %}
            <input type="text" hidden="true" name="max_priority" id="maxPriority" value="{{ reaction.aq_params.max_priority }}" size="3"/>
        </td></tr>
    </table>
    </div>
</div>
