{% load static %}
{% with hidesearchbar=0 title="Thermodynamic Data References" %}
	{% include "header.html" %}
{% endwith %}

<div class="mui-panel">
    <div class="title">References</div>
    <table class="mui-table mui-table--bordered">
    {% for source in sources %}
        {% if source.citation %}
            <tr>
                <td width="25%">{{source.name}}</td>
                <td>{{source.citation|safe}}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>

{% include "footer.html" %}

