{% load static %}
{% with title="compound.first_name" %}
     {% include "header.html" %}
{% endwith %}

    <div class="mui-panel">
        <form name="pathway_form" action="/pathway/build_model" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="hidden" name="conc_units" value="mM" />
            <div class="title">Step 1: Build <a href="http://www.sbtab.net">SBtab</a> Pathway Model</div>
            <div class="paragraph">
            <table>
                <tr>
                    <td colspan=3>Click <a href={% static "classic_rxns/pathway.html" %}>here</a> for an overview of the process. Skip this step if you already have an SBtab model file.</td>
                </tr>
                <tr>
                    <td width="40%">Pathway definition CSV (<a href="{% static "pathways/example_pathway_ethanol_fermentation.csv" %}">example</a>)</td>
                    <td colspan=2><input type="file" name="pathway_file" /></td>
                </tr>
                <tr>
                    <td>Minimum concentration<sup>&dagger;</sup></td>
                    <td colspan=2>
                        <input type="text" name="min_c" value="0.001" size=10 /> mM
                    </td>
                </tr>
                <tr>
                    <td>Maximum concentration<sup>&dagger;</sup></td>
                    <td colspan=2>
                        <input type="text" name="max_c" value="10" size=10 /> mM
                    </td>
                </tr>
                <tr>
                    <td>
                        pH
                    </td>
                    <td width="15%">
                        <input type="text" name="pH" id="phField" value="{{ph}}" />
                    </td>
                    <td colspan="100%" class="sliderContainer">
                        <div id="phSlider"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ionic strength [M]
                    </td>
                    <td>
                        <input type="text" name="ionic_strength" id="ionStrengthField" value="{{ionic_strength}}" />
                    </td>
                    <td colspan="100%" class="sliderContainer">
                        <div id="ionStrengthSlider"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Analysis method
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" id="switch" name="mdf_ecm_toggle" />
                            <span class="slider round"></span>
                        </label><br />
                        <a href={% static "classic_rxns/pathway.html" %}#mdf title="Max-min Driving Force" target="_blank">MDF</a> &nbsp;
                        <a href={% static "classic_rxns/pathway.html" %}#ecm title="Enzyme Cost Minimization" target="_blank">ECM</a> 
                    </td>
                    <td><input type="submit" class="mui-btn mui-btn--primary" value="Build"/></td>
                </tr>
            </table>
            <div class="footnote">
                <sup>&dagger;</sup>The default concentration range of 1 &mu;M - 10 mM reflects the fact that metabolite concentrations are constrained from above by osmotic pressure and toxicity considerations and from below
                by enzyme affinities.
            </div>
            <div class="footnote">
                <sup>&dagger;</sup>Default concentrations for ubiquitous cofactors like CoA and ATP are set
                based on measurements from <i>E. coli</i> and other model organisms (see Noor et al., PloS Comp. Bio 2014).
                You can edit these defaults by modifying the SBtab file (e.g. in Excel) before performing
                the analysis below.
            </div>
            </div>
        </form>
        <br />
        <div class="title">Step 2: Verify & Edit Pathway Model</div>
        <div class="paragraph">
        <ol>
            <li>Check relative fluxes for all reactions in the SBtab file.</li>
            <li>Check KEGG IDs for all reactants in the model.</li>
            <li>Check and/or edit bounds on metabolite concentrations.</li>
            <li>If using ECM, change the default kinetic parameters to the relevant values.</li>
        </ol>
        </div>
        <br />
        <div class="title">Step 3: Perform Pathway Analysis</div>
        <form name="pathway_form" action="/pathway/results" method="POST" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            <table class="mui-table">
                <tr class="paragraph">
                    <td>
                        Pathway SBtab <br/>(examples <a href="{% static "pathways/example_pathway_ethanol_fermentation_pH7.00_I0.10_MDF.tsv" %}">MDF</a>,
                        <a href="{% static "pathways/example_pathway_central_metabolism_pH7.00_I0.10_ECM.tsv" %}">ECM</a>)
                    </td>
                    <td>
                        <input type="file" name="pathway_file" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Output
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" id="switch" name="html_sbtab_toggle" />
                            <span class="slider round"></span>
                        </label><br />
                        HTML &nbsp; &nbsp; &nbsp; SBtab
                    </td>
                </tr>
                <tr>
                    <td colspan=2 align="center">
                        <input type="submit" class="mui-btn mui-btn--primary" value="Analyze"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% include "footer.html" %}
