{% with enzyme.first_name as title %}
	{% include "header.html" %}
{% endwith %}

<div class="enzyme">
    {{ enzyme.first_name.name }}
        {% if is_superuser %}
        <a class="adminLink" href="/admin/gibbs/enzyme/{{ enzyme.pk }}">Edit in admin</a>
        {% endif %}
</div>

{% include "enzyme_info_table.html" %}
	
{% include "footer.html" %}