{% load static %}
<div id="showConc" style="display:block">
    <p>
    <a href="#" title="Open concentration panel" onclick="toggle_visibility('hideConc');toggle_visibility('showConc');">
    <img src={% static "images/show_examples.svg" %} height="48" width="48"/></a>
    </p>
</div>

<div id="hideConc" style="display:none">
    <p>
    <a href="#" title="Close concentration panel" onclick="toggle_visibility('showConc');toggle_visibility('hideConc');">
    <img src={% static "images/hide_examples.svg" %} height="48" width="48"/></a>
    </p>
    <div class="mui-panel">
        <div class="title">Examples</div>
        	<table class="mui-table mui-table--centered">
        		<thead>
            		<tr>
            		    <th>Reactions</th>
            		    <th>Compounds</th>
                       <th>Enzymes</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
            			<td><a href="/reaction?query=glucose+%3D+2+ethanol+%2B+2+co2&reactantsCoeff=-1&reactantsId=C00031&reactantsName=Glucose&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00469&reactantsName=Ethanol&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00011&reactantsName=CO2&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous">glucose &rlhar; 2 ethanol + 2 CO<sub>2</sub></a></td>
            			<td><a href="/search?query=ATP">ATP</a></td>
            			<td><a href="/search?query=rubisco">rubisco</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=O2+%2B+2+NADH+%3D+2+H2O+%2B+2+NAD%2B&reactantsCoeff=-1&reactantsId=C00007&reactantsName=O2&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-2&reactantsId=C00004&reactantsName=NADH&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00003&reactantsName=NAD%2B&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00001&reactantsName=H2O&reactantsConcentration=1000&reactantsConcentrationPrefactor=0.001&reactantsPhase=liquid">O<sub>2</sub> + 2 NADH &rlhar; 2 H<sub>2</sub>O + 2 NAD<sup>+</sup></a></td>
                      <td><a href="/search?query=glucose">glucose</a></td>			
                      <td><a href="/search?query=enolase">enolase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=ATP+%2B+H2O+%3D+ADP+%2B+Phosphate&reactantsCoeff=-1&reactantsId=C00002&reactantsName=ATP&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=1&reactantsId=C00008&reactantsName=ADP&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=1&reactantsId=C00009&reactantsName=Phosphate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-1&reactantsId=C00001&reactantsName=H2O&reactantsConcentration=1000&reactantsConcentrationPrefactor=0.001&reactantsPhase=liquid">ATP + H<sub>2</sub>O &rlhar; ADP + phosphate</a></td>
                      <td><a href="/search?query=succinyl-CoA">succinyl-CoA</a></td>			
                      <td><a href="/search?query=hexokinase">hexokinase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=Oxaloacetate+%3D+L-Malate&max_priority=0&ph=7.0&ionic_strength=0.1&electronReductionPotential=0&reactantsCoeff=1.0&reactantsId=C00149&reactantsName=L-Malate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-1.0&reactantsId=C00036&reactantsName=Oxaloacetate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous">oxaloacetate + 2 e<sup>-</sup> &rlhar; L-malate</a></td>
                      <td><a href="/search?query=formaldehyde">formaldehyde</a></td>			
                      <td><a href="/search?query=fumarase">fumarase</a></td>
                 </tr>
             </tbody>
        	</table>
    </div>
</div>