{% load static %}

<div class="mui-panel">
<div class="title">Reduction Potentials</div>
<table class="mui-table">
    {% if not reaction.is_phys_conc %}
    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#half-reactions>E'</a>
            </strong>
        </td>
        <td colspan="100%">
        <strong>{{ reaction.e_prime|floatformat:0 }}</strong>
            {% if reaction.e_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.e_uncertainty|floatformat:0 }}
                </font>
            {% endif %}
            [mV]
        </td>
    </tr>
    {% endif %}

    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dgm>E'<sup>m</sup></a>
            </strong>
        </td>
        <td colspan="100%">
            <strong>{{ reaction.em_prime|floatformat:0 }}</strong>
            {% if reaction.e_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.e_uncertainty|floatformat:0 }}
                </font>
            {% endif %}
            [mV]
        </td>
    </tr>
    <tr>
        <td width="20%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#half-reactions>E'&deg;</a>
            </strong>
        </td>
        <td colspan="100%">
            <strong>{{ reaction.e0_prime|floatformat:0 }}</strong>
            {% if reaction.e_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.e_uncertainty|floatformat:0 }}
                </font>
            {% endif %}
            [mV]
        </td>
    </tr>
    <tr>
        <td width="20%">
            <strong>
                Estimated using
            </strong>
        </td>
        <td colspan="100%">
            {% for source_name, url in reaction.source_references %}
                <a href="{{ url }}" target="_blank">{{ source_name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% include "reaction_sliders.html" %}
</table>
</div>


{% if reaction.half_reaction_dg_prime != None %}
<div class="mui-panel">
<div class="title">Reaction Gibbs Energy</div>
<table class="mui-table">
    <tr style="border-top: 1px dotted silver;">
        <td width="20%"><strong>Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'</strong></a></td>
        <td colspan="100%">
        <strong>{{ reaction.half_reaction_dg_prime|floatformat:1 }}</strong>
        {% if reaction.dg_uncertainty != None %}
            {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
            &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
            </font>
        {% endif %}
        [kJ/mol]
        </td>
    </tr>

    <tr>
        <td width="20%">
            e<sup>-</sup> potential [mV]
        </td>
        <td width="15%">
            <input type="text" name="electronReductionPotential" id="electronReductionPotentialField" value="{{ reaction.aq_params.e_reduction_potential|floatformat:-1 }}" />
        </td>
        <td colspan="100%" class="sliderContainer">
            <div id="electronReductionPotentialSlider" />
        </td>
    </tr>
</table>
</div>
{% endif %}
