{% load static %}
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="{% static "images/equilibrator_favicon.png" %}">
        <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "jquery-ui.structure.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "jquery-ui.theme.min.css" %}" rel="stylesheet" type="text/css">
        <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
        <script type="text/javascript" src="{% static "jquery-1.11.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery.autocomplete.min.js" %}"></script>
        <script type="text/javascript" src="{% static "main.js" %}"></script>
        {% include "analytics.html" %}
    </head>
    <body>
        
    <nav class="menu">
      <div class="logo">
          <a href="/">
              <img src="{% static "images/equilibrator_logo_large.svg" %}" />
          </a>
      </div>
      <div class="menu-items">
          <ul>
            <li>
                <a href="/" title="Search for a single reaction using free text">
                <img src="{% static "images/search_icon.svg" %}" /> Search </a>
            </li>
            <li>
                <a href="/pathway" title="Analyze an entire metabolic pathway">
                <img src="{% static "images/pathway_icon.svg" %}" /> Pathway Analysis</font></a
            </li>
            <li>
                <a href="/download" title="Download raw data files">
                <img src="{% static "images/download_icon.svg" %}" /> Downloads</a>
            </li>
            <li>
                <a target="_blank" href="/api" title="API for writing scripts that use eQuilibrator data">
                <img src="{% static "images/api_icon.svg" %}" /> eQuilibrator API <sup>NEW</sup></a>
            </li>
            <li>
              <div class="dropdown">
                <a href={% static "classic_rxns/index.html" %}>
                <img src="{% static "images/document_icon.svg" %}" />Docs ▼</a>
                  <div class="dropdown-content">
                    <a href={% static "classic_rxns/about.html" %} title="About eQuilibrator">About</a>
                    <a href={% static "classic_rxns/classic_reactions/index.html" %} title="Classic Biochemical Reactions and Pathways">Classic Reactions</a>
                    <a href={% static "classic_rxns/faq.html" %} title="Frequently Asked Questions">FAQ</a>
                    <a href={% static "classic_rxns/updates.html" %} title="What's new in eQuilibrator">Updates</a>
                    <a href={% static "classic_rxns/cite.html" %} title="Cite Us">Cite Us</a>
                    <a href="https://groups.google.com/forum/#!forum/equilibrator-users" title="Contact Us">Contact</a>
                  </div>
              </div>
            </li>
          </ul>
      </div>
    </nav>
    
    {% if not largesearch %}
        <div class="searchBar" id="searchForm">
            <form name="searchForm" class="mui-form--inline" action="/search" method="get">
                <div class="mui-textfield">
                    <input type="text" name="query" id="queryField" size="70" {% if query %}value="{{ query }}"{% endif %} />
                </div>
                <input type="image" id="button" class="searchButtonSmall" src="{% static "images/search_icon.svg" %}"/>
            </form>
        </div>
        <div class="centerize" id="internal">
    {% else %}
        <div class="centerize" id="welcome">
    {% endif %}
    