{% load static %}
    {% with largesearch=1 title="eQuilibrator: The Biochemical Thermodynamics Calculator" %}
        {% include "header.html" %}
    {% endwith %}

<div class="mainTitle">
    <img src={% static "images/equilibrator_logo_small.svg" %} height="60"/><br/>
    eQuilibrator
</div>
<br />
<form name="searchForm" class="mui-form--inline" action="/search" method="get">
    <div id="welcomeSearchBar">
        <input type="text" name="query" class="searchHint" id="queryField" placeholder='Type a single compound/enzyme name, or a full reaction (using "=" to separate the two sides)' />
        <input type="image" id="button" class="searchButtonLarge" src="{% static "images/search_icon.svg" %}"/>
    </div>
</form>
<br />
<div id="exampleText">
    <p>
        for example, try this reaction:
        <a href="/search?query=Sucrose+%2B+H2O+%3D+Glucose+%2B+fructose">sucrose + H<sub>2</sub>O &rlhar; glucose + fructose</a> <br />
        or this enzyme: 
        <a href="/search?query=invertase">invertase</a> <br />
        or click below for yet more examples
    </p>
</div>
<div id="showExamples" style="display:block">
    <p>
    <a href="#" title="Show examples" onclick="toggle_visibility('hideExamples');toggle_visibility('showExamples');">
    <img src={% static "images/show_examples.svg" %} height="48" width="48"/></a>
    </p>
</div>

<div id="hideExamples" style="display:none">
    <p>
    <a href="#" title="Hide examples" onclick="toggle_visibility('showExamples');toggle_visibility('hideExamples');">
    <img src={% static "images/hide_examples.svg" %} height="48" width="48"/></a>
    </p>
    <div class="mui-panel">
        <div class="title">Examples</div>
        	<table class="mui-table mui-table--centered">
        		<thead>
            		<tr>
            		    <th>Reactions</th>
            		    <th>Compounds</th>
                      <th>Enzymes</th>
                  </tr>
             </thead>
             <tbody>
                 <tr>
            			<td><a href="/reaction?query=glucose+%3D+2+ethanol+%2B+2+co2&reactantsCoeff=-1&reactantsId=C00031&reactantsName=Glucose&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00469&reactantsName=Ethanol&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00011&reactantsName=CO2&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous">glucose &rlhar; 2 ethanol + 2 CO<sub>2</sub></a></td>
            			<td><a href="/search?query=ATP">ATP</a></td>
            			<td><a href="/search?query=rubisco">rubisco</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=O2+%2B+2+NADH+%3D+2+H2O+%2B+2+NAD%2B&reactantsCoeff=-1&reactantsId=C00007&reactantsName=O2&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-2&reactantsId=C00004&reactantsName=NADH&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00003&reactantsName=NAD%2B&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=2&reactantsId=C00001&reactantsName=H2O&reactantsConcentration=1000&reactantsConcentrationPrefactor=0.001&reactantsPhase=liquid">O<sub>2</sub> + 2 NADH &rlhar; 2 H<sub>2</sub>O + 2 NAD<sup>+</sup></a></td>
                      <td><a href="/search?query=glucose">glucose</a></td>			
                      <td><a href="/search?query=enolase">enolase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=ATP+%2B+H2O+%3D+ADP+%2B+Phosphate&reactantsCoeff=-1&reactantsId=C00002&reactantsName=ATP&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=1&reactantsId=C00008&reactantsName=ADP&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=1&reactantsId=C00009&reactantsName=Phosphate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-1&reactantsId=C00001&reactantsName=H2O&reactantsConcentration=1000&reactantsConcentrationPrefactor=0.001&reactantsPhase=liquid">ATP + H<sub>2</sub>O &rlhar; ADP + phosphate</a></td>
                      <td><a href="/search?query=succinyl-CoA">succinyl-CoA</a></td>			
                      <td><a href="/search?query=hexokinase">hexokinase</a></td>
                 </tr>
                 <tr>
                      <td><a href="/reaction?query=Oxaloacetate+%3D+L-Malate&max_priority=0&ph=7.0&ionic_strength=0.1&electronReductionPotential=0&reactantsCoeff=1.0&reactantsId=C00149&reactantsName=L-Malate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous&reactantsCoeff=-1.0&reactantsId=C00036&reactantsName=Oxaloacetate&reactantsConcentration=1&reactantsConcentrationPrefactor=0.001&reactantsPhase=aqueous">oxaloacetate + 2 e<sup>-</sup> &rlhar; L-malate</a></td>
                      <td><a href="/search?query=formaldehyde">formaldehyde</a></td>			
                      <td><a href="/search?query=fumarase">fumarase</a></td>
                 </tr>
             </tbody>
        	</table>
    </div>
</div>

{% include "footer.html" %}

