{% load static %}
    {% with largesearch=1 title="HTTP Status 504" %}
        {% include "header.html" %}
    {% endwith %}

<div class="mainTitle">
    <img src={% static "images/equilibrator_server_error.svg" %} height="200"/><br/>
    oops
</div>
</br>
</br>
Sorry, either our server is overloaded or the pathway you tried to analyze is too large.
</br>
</br>
If you were trying to run MDF, you can also do that using
<a href="https://gitlab.com/elad.noor/equilibrator-api">eQuilibrator-API</a>.
</br>
</br>
If you were trying to run ECM, the analysis is also available in Python at
<a href="https://gitlab.com/elad.noor/enzyme-cost-minimization">enzyme-cost-minimization</a>.

{% include "footer.html" %}

