{% load static %}
<div class="mui-panel">
<div class="title">Reaction Gibbs Energy</div>
<table class="mui-table">
    {% if not reaction.is_phys_conc %}
    <tr>
        <td>
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'</a>
            </strong>
        </td>
        <td colspan="100%">
            <strong>{{ reaction.dg_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
                </font>
            {% endif %}
            [kJ/mol]
        </td>
    </tr>
    {% endif %}

    <tr>
        <td width="25%">
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#dgm>&Delta;<sub><i>r</i></sub>G'<sup>m</sup></a>
            </strong>
        </td>
        <td colspan="100%">
            <strong>{{ reaction.dgm_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
                </font>
            {% endif %}
            [kJ/mol]
            &nbsp;&nbsp;&nbsp;<font size="2"><a href="#" title="Close concentration panel" onclick="toggle_visibility('showConc');toggle_visibility('hideConc');">Enter custom concentrations &raquo;</a></font>
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Estimated <a href={% static "classic_rxns/faq.html" %}#drg>&Delta;<sub><i>r</i></sub>G'&deg;</a>
            </strong>
        </td>
        <td colspan="100%">
            <strong>{{ reaction.dg0_prime|floatformat:1 }}</strong>
            {% if reaction.dg_uncertainty != None %}
                {% if advanced_mode and reaction.is_using_gc %}<font color="red">{% else %}<font>{% endif %}
                &plusmn; {{ reaction.dg_uncertainty|floatformat:1 }}
                </font>
            {% endif %}
            [kJ/mol]
            &nbsp;&nbsp;&nbsp; K'<sub>eq</sub> = {{ reaction.k_eq_prime_human|safe }}
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                Estimated using
            </strong>
        </td>
        <td colspan="100%">
            {% for source_name, url in reaction.source_references %}
                <a href="{{ url }}" target="_blank">{{ source_name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% if reaction.catalyzing_enzymes %}
        <tr>
            <td><strong>Catalyzed by</strong></td>
            <td colspan="100%">
            {% for enzyme in reaction.catalyzing_enzymes|slice:":3" %}
                <div><a href="{{ enzyme.link }}">{{ enzyme.first_name.name }}</a>&nbsp;&nbsp;[EC {{ enzyme.ec }}]</div>
            {% endfor %}
            </td>
        </tr>
    {% endif %}
    {% include "reaction_sliders.html" %}
</table>
</div>