{% load static %}
{% with title="Reaction" %}
    {% include "header.html" %}
{% endwith %}

    {% if reaction.is_reactant_formula_missing %}
        <div class="warning">Cannot estimate &Delta;<sub><i>r</i></sub>G' because some of the compounds don't have an explicit chemical formula</div>
        {% include "parsed_reaction.html" %}
        The following compounds do not have an explicit chemical formula:
        <ul>
            {% for compound in reaction.reactants_with_missing_formula %}
                <li>{{ compound.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
    {% if reaction.is_empty %}
        <div class="warning">Emtpy reaction!</div>
    {% else %}

    {% if not reaction.is_balanced %}
        <div class="warning">Reaction is not balanced!
        {% if reaction.balanced_with_water and balance_with_water_link %}
        <a href="{{ balance_with_water_link }}">Balance with H<sub>2</sub>O</a>?
        {% else %}
            {% if reaction.balanced_with_coa %}
            <a href="{{ balance_with_coa_link }}">Balance with CoA</a>?
            {% else %}
                {% if reaction.balanced_with_pi %}
                <a href="{{ balance_with_pi_link }}">Balance with Pi</a>?
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
        {% include "parsed_reaction.html" %}
    {% else %}
    {% if reaction.dg0_prime == None %}
        <div class="warning">Cannot estimate &Delta;<sub><i>r</i></sub>G' because one of the compounds cannot by decomposed by our algorithm</br><a href={% static "classic_rxns/faq.html" %}#not-available>Learn more &raquo;</a></div>
        {% include "parsed_reaction.html" %}
    {% else %}
    {% if reaction.dg_uncertainty != None and reaction.dg_uncertainty > 200 %}
        <div class="warning">Cannot estimate &Delta;<sub><i>r</i></sub>G' with any level of certainty </br><a href={% static "classic_rxns/faq.html" %}#uncertainty>Learn more &raquo;</a></div>
        {% include "parsed_reaction.html" %}
    {% else %}
        {% if reaction.special_reaction_warning %}
            <div class="warning">
                {{ reaction.special_reaction_warning|safe}}
            </div>
        {% endif %}

        {% if not reaction.is_electron_balanced %}
            <div class="warning">
                This is a
                    {% if reaction.extra_electrons %}reduction{% else %}oxidation{% endif %}
                half-reaction
                <a href={% static "classic_rxns/faq.html" %}#half-reactions>Learn more &raquo;</a></br>
                <a href="{{ balance_electrons_link }}">Balance with NAD<sup>+</sup>/NADH</a>?
            </div>
        {% endif %}

        {% include "parsed_reaction.html" %}

        <form id="rxnForm" name="reactionForm" action="/reaction" method="get">
            <input type="hidden" name="query" value="{{ query }}" />

                {% if reaction.is_electron_balanced %}
                    {% include "reaction_result_table.html" %}
                {% else %}
                    {% include "half_reaction_result_table.html" %}
                {% endif %}

                {% include "concentration_sub_table.html" %}

                    <input type="submit" value="Update" name="submit" onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                           title="update estimations according to chosen pH, I"/>
                    {% if advanced_mode %}<input type="submit" value="Save" name="submit" onclick="form.target = '_blank';" class="mui-btn mui-btn--primary"/>{% endif %}
                    <input type="submit" value="Reverse" name="submit" onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                           title="switch substrates and products" />
                    <input type="submit" value="Reset" name="submit" onclick="form.target = '_self';" class="mui-btn mui-btn--primary"
                           title="reset all parameters (e.g. pH, I) to default values" />

            {% if advanced_mode %}
                <table class="mui-table">
                    <thead>
                    <tr>
                        <td><b>W<sub>rc</sub></td>
                        <td><b>W<sub>gc</sub></td>
                        <td>Reaction</td>
                    </tr>
                    </thead>
                    {% for row in reaction.analyze_cc %}
                        {% if row.w > 0.0001 or row.w < -0.0001%}
                        <tr>
                            <td>{{ row.w_rc|floatformat:-4 }}</td>
                            <td>{{ row.w_gc|floatformat:-4 }}</td>
                            <td>{{ row.reaction_string }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </form>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}

{% include "footer.html" %}

